/* Navigation */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-color);
    color: #000000;
    opacity: 2;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0px;
    padding: 0 2rem;
    z-index: 2;
    box-shadow: 2px 2px 2px rgba(255, 253, 253, 0.742);
  }
  
  .navbar a:hover {
    border-bottom: solid 2px var(--primary-color);
  }
  
  .navbar a {
    color:black;
    padding: 0.1rem 0.2rem;
    margin: 0 0.4rem;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar .logo {
    font-weight: 400;
  }
  
