@model Head_brands.web.ViewModel.Heads.HeadListViewModel

<article>
    
    <link rel="stylesheets" href="~/css/Heads-detail-page">

    <h2 style="margin:100px 0 0 900px;"> @Model.Name<h2>

    <div style="margin:25px 0 0 900px;">@Model.Description</div>
        
    <div style="margin:25px 0 0 900px;">@Model.Brand</div>

    
</article>